body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

a {
  color: #000000;
  text-decoration: underline;
}

/* Hedings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
background-color: #fff;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.container-fluid {
  padding: 7% 15%;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 15% 0;
}

/* Title image */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* features-section */
#features {
  position: relative;
}

.feature-box {
  padding: 10%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-weight: bold;
  font-size: 2.7rem;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  margin: 5% auto 3%;
}

.price-text {
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 2%;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}


/* Footer */


.footer-icon {
  padding: 20px 10px;
}
